<%- include('../partials/baseStyle') %>

<%- include('../partials/header', { title: 'Nova ocorrência de reclamação!' }) %>


<div class="container">
  <p>
    Uma nova reclamação foi registrada em um mesmo raio onde havia outra reclamação, ou seja, existem diferentes reclamações em um raio de 30 metros.
    <br>
    <br>
  </p> 
  <p>
    Você pode visualizar a localização da reclamação <a href=<%=`https://www.google.com/maps/search/?api=1&query=${latitude},${longitude}` %> target="_blank" rel="noopener noreferrer">aqui</a>.
    <br>
    <br>
  </p>
  <p>Esta reclamação já tem <strong><%= occurrences %></strong> ocorrências.</p>
  
  <%- include('../partials/citizenInfo') %>
</div>